---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="About">
  <main>
    <h1>
        <span class="text-gradient">About</span>
    </h1>
  </main>
</Layout>