---
import Layout from "../layouts/Layout.astro";
---

<Layout title="My Shopping Cart @ FirstTime Eatery">
  <div class="container my-12 mx-auto px-4 md:px12">
    <h1 class="mt-4">Checkout</h1>
  </div>
</Layout>
