---
import Layout from "../layouts/Layout.astro";
import Checkout from "../components/Checkout.svelte";
---

<Layout title="Checkout @ FirstTime Eatery">
  <div class="container my-4 mx-auto px-4 md:px12">
    <Checkout client:load />
  </div>
</Layout>
