---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Data Delete Policty for FirstTime Food">
  <div class="page antialiased">
    <div class="header">
      <div class="container">
        <h1 class="title mt-8 text-center">Data Deletion Policy</h1>
      </div>
    </div>

    <div class="container">
      <div class="tab-content">
        <h2>1. Purpose</h2>
        <p>
          This document sets out our policy for responding to requests for
          deletion of data under data protection law. This document explains the
          rights of the data subject in relation to data deletion and the
          responsibilities of FirstTime Eatery in responding with such a
          request.
        </p>
        <h2>2. Individual Rights</h2>
        <p>
          An individual has the right to erasure, also known as ‘the right to be
          forgotten’. The principle underpinning this right is to enable an
          individual to request the deletion or removal of personal data where
          there is no compelling reason for its continued processing.
        </p>

        <h2>3. When does the right to erasure apply?</h2>
        <p>
          As stipulated in data protection law, individuals have a right to have
          personal data erased and to prevent processing in specific
          circumstances:
        </p>

        <p>
          Where the personal data is no longer necessary in relation to the
          purpose for which it was originally collected/processed;
        </p>
        <p>When the individual withdraws consent;</p>
        <p>
          When the individual objects to the processing and there is no other
          legal ground for the relevant processing activity;
        </p>
        <p>When the personal data was unlawfully processed;</p>
        <p>
          Where the personal data has to be erased in order to comply with a
          legal obligation.
        </p>
        <h2>4. What information does FirstTime Eatery retain?</h2>
        <p>
          FirstTime Eatery stores data about individuals in order to create an
          account for our customer on our platform. We store the first name ,
          last name (if provided) , e-mail address , language (if provided) ,
          country (if provided) , time zone (if provided), and entity (if
          provided), which is stored on our secure servers in the US for a
          period of use of this account in our platform. This data is stored and
          used in accordance with our Privacy Policy, which can be found at:
          https://firsttimefood.com/privacy
        </p>

        <p>
          If consent is provided, personal data may be stored in our CRM system
          for the purposes of contacting you regarding FirstTime Eatery news,
          products and promotions.
        </p>

        <h2>5. How can data be deleted?</h2>
        <p>
          If you have purchased a subscription on FirstTime Eatery, FirstTime
          Eatery acts as data controller. In this case, we will delete the user
          account upon request (via email to info@firsttimefood.com), upon
          closure of your account, or after three years. If an organization
          purchases access to FirstTime Eatery, FirstTime Eatery acts as the
          data processor and the customer acts as data controller. In this case,
          it is the responsibility of the customer, as data controller, to
          ensure that data is not held longer than necessary for the purposes
          for which it is intended.
        </p>

        <p>
          A user of the FirstTime Eatery Account, acting on behalf of their
          organization, can delete data from their account whenever they wish.
          This data is deleted from the system immediately and cannot be
          recovered by any users or FirstTime Eatery employees after this point.
          Data which has been deleted or otherwise destroyed can not be
          recovered at any time. Sufficient warning is given to the account
          administrator before data is permanently deleted.
        </p>

        <p>
          Data may still remain in the systems back-up files, which will be
          deleted periodically.
        </p>

        <p>
          Information may be deleted from our CRM upon request to
          info@firsttimefood.com. We undertake to perform the deletion within
          one month (30 calendar days) and will send you a confirmation once the
          information has been deleted. Wherever possible, we will aim to
          complete the request in advance of the deadline.
        </p>
      </div>
      <!-- tab-content -->
    </div>
    <!-- container -->
    <div class="footer">
      <div class="container">
        <p class="italic indent-12">Last updated: April 07, 2023</p>
      </div>
    </div>
  </div>
  <!-- page  -->
</Layout>

<style>
  h2 {
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
  }
  h3 {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
  }
  p {
    text-indent: 1.5rem;
    margin-top: 0.5rem;
  }
  li {
    text-indent: 3rem;
  }
  .footer {
    min-height: 100px;
  }
</style>
