---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Carousel from "../components/Carousel.astro";
import OrderNowButton from "../components/OrderNowButton.astro";
import FindUsOnline from "../components/FindUsOnline.astro";
import GoogleMaps from "../components/GoogleMaps.astro";
---

<Layout title="FirstTime Eatery, Dumaguete City, Philippines">
  <main class="text-center">
    <h1 class="text-center">
      <img src="/images/first_time_logo.webp" />
      <h1 class="text-gradient">FirstTime Eatery</h1>
    </h1>
    <Carousel />
    <h2 class="mt-8">
      We're famous for our all-beef burgers and boba milk tea. Also try our
      silogs and Filipino street food at college student prices. We're located
      on E.J. Blanco in Daro, Dumaguete City, Philippines right next to Metro
      Dumaguete College (MDC).
    </h2>
    <OrderNowButton />
    <GoogleMaps />
    <OrderNowButton />
    <FindUsOnline />
  </main>

  <p></p>
</Layout>

<style>
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
