---
import Layout from "../layouts/Layout.astro";
import UserRegistrationForm from "../components/UserRegistrationForm.svelte";
---

<Layout title="Create an FirstTime account to order food.">
  <div
    class="bottom-0 left-0 right-0 z-50 w-full p-4 overflow-y-auto bg-white dark:bg-gray-800"
  >
    <section class="bg-gray-50 dark:bg-gray-900">
      <div
        class="flex flex-col items-center justify-center px-6 py-8 mx-auto container"
      >
        <a
          href="#"
          class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
        >
          <img
            class="w-8 h-8 mr-2"
            src="/images/first_time_logo_s.webp"
            alt="logo"
          />
          FirstTime
        </a>
        <div
          class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
        >
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <div class="flex">
              <div>
                <h1
                  class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
                >
                  Create account
                </h1>
              </div>
            </div>
            <UserRegistrationForm client:load />
          </div>
        </div>
      </div>
    </section>
  </div>
</Layout>
