<div class="online-presence mt-8 flex p-8 space-x-12 justify-center">
  <div><strong>Find us online:</strong></div>
  <div class="text-center">
    <a href="http://firsttimefood.com">
      <img
        src="/images/first_time_logo_s.webp"
        class="h-6 mr-3 sm:h-9 md:h-12 lg:h-16 xl:h-24 mx-auto"
        alt="FirstTime Eatery Logo"
      />
    </a>
  </div>
  <div>
    <a href="https://www.facebook.com/profile.php?id=100090814956900">
      <img
        src="/images/find_us_on/f_logo_RGB-Blue_100.png"
        width="100"
        alt="Facebook logo"
      />
    </a>
  </div>
  <div>
    <a href="https://goo.gl/maps/83uTFKCL2DXudz4j8">
      <img
        src="/images/find_us_on/google_maps.png"
        width="100"
        alt="Google Maps logo"
      />
    </a>
  </div>
</div>
